.loginPage {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loginBox {
    width: 420px;
}

.login__title {
    font-size: 26px;
    margin-bottom: 1rem;
}

.loginBox>input {
    font-size: 17px;
    margin: auto;
    display: block;
    height: 50px;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color-lightgray);
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.loginBox>input:focus {
    border-bottom: 1px solid var(--color-main);
}

.login__subMenu {
    display: flex;
    justify-content: right;
    transform: translateX(4rem);
    margin-bottom: 1rem;
}

.login__help {
    margin: 1rem;
    display: inline-block;
    margin-left: auto;
    font-size: 13px;
}

.login__help>a>span {
    margin: 0 0.4rem;
}

.login__help>a>span:hover {
    color: var(--color-main);
}

.loginBtn {
    width: 100%;
    height: 62px;
    background-color: var(--color-main);
    color: white;
}