.signup__infoContainer{
    margin : auto;
    padding-top: 0.5rem;
}

.info__title{
    margin-right: auto;
    width : 500px;
    height: 50px;
    line-height: 50px;
    border-bottom: 3px solid black;
    margin-bottom: 2rem;
    font-size: 25px;
}

.infoBox{
    position: relative;
    display: flex;
    margin: auto;
    width : 400px;
    height: 65px;
    justify-content: space-between;
}

.infoBox > input {
    height: 30px;
    border-radius: 5px;
    margin-right: 15px;
    transform: scale(1.3);
}

.signup__required{
    position: absolute;
    left : -14px;
    top : 9px;
    width :4px;
    height : 4px;
    border-radius: 50%;
    background-color: red;
}

.signup__idCheck{
    left:168px;
    bottom : 12px;
    position: absolute;
    color: red;
    font-size: 11px;
}