.signupPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}

input {
    margin-right: 15px;
    transform: scale(1.3);
}
/* title */

.signup__title {
    font-size: var(--font--authTitle);
    margin-bottom: 2rem;
}

/* agreeContainer */

.agreeContianer>div {
    width: 500px;
    height: 80px;
    border-bottom: 1px solid var(--color-main);
    line-height: 80px;
}

.signup_agreeAll {
    line-height: 80px;
}

.signup__terms {
    display: flex;
    justify-content: space-between;
}

.signup__person {
    display: flex;
    justify-content: space-between;
}

.signup__terms__more>a>span {
    margin-right: 0.5rem;
}

.signup__person__more>a>span {
    margin-right: 0.5rem;
}

/* linkBtn */

.signup__link {
    margin-top: 3rem;
}

.signup__link>button {
    width: 200px;
    height: 70px;
    margin: 0 1rem;
}

.signup__link>button:nth-child(1) {
    border: 1px solid var(--color-darkgray);
}

.signup__link>button:nth-child(2) {
    width: 200px;
    height: 70px;
    background-color: var(--color-main);
    margin: 0 1rem;
}

.signup__link>button:nth-child(2)>span {
    color: white;
}