.leftNavContainer{
    display: flex;
    position: absolute;
    left : 0;
    justify-content: center;
    width : 300px;
    height :100%;
    border-right: 1px solid var(--color-lightgray);
    border-left: 1px solid var(--color-lightgray);
}

.leftNav{
    margin-top: 3rem;
}

.leftBar__title{
    box-sizing: content-box;
    font-size: var(--font--large);
    color: var(--color-main);
}

.leftBar__content{
    color: #607d8b;
    margin-left: 1rem;
    margin-top: 0.7rem;
    font-size: 15px;
}