.table{
    width : 100%;
    color : var(--color-darkgray);
}

.table__intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__counter > span:nth-child(1){
    color: var(--color-main);
}

.table__counter > span:nth-child(2){
    color: black;
}

.table__intro__search > input{
    height: 35px;
    border-right: 0px;
    padding-left: 0.5rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.table__intro__search > button{
    height: 35px;
    border : 1px solid var(--color-darkgray);
    border-left: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-right: 0.5rem;
}