
* {
  box-sizing: border-box;
}

html{
  margin :0;
}

body{
  margin :0;
}
a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: auto;
  margin-top: 80px;
  max-width: 1300px;
  min-height: 500px;
}